@charset "utf-8";
/* --------------------------------------------------------
	reset.css
-------------------------------------------------------- */
html,body,div,header,footer,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
p,a,i,
table,tbody,th,td,
pre,form,fieldset,input,textarea,blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	line-height: 1.5;
	color: #505050;
	font-style: normal;
	font-weight: normal;
	}
ul,li,a{
	text-decoration: none;
	}
ol,ul {
	list-style: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	img, button{
		border: none;
		/* 画像下部空き削除 */
		vertical-align:top;
		width: 100%;
		height: auto;
		}
	
	*,
	*::before,
	*::after {
			box-sizing: border-box;
		}
